# WEB3FORMS ACCESS KEY (OPTIONAL FOR DIRECT BACKGROUND EMAIL DELIVERY)
# Get a free access key in 10 seconds at https://web3forms.com by entering prathod8806@gmail.com
# All contact form submissions on your website will be delivered straight to prathod8806@gmail.com inbox.
VITE_WEB3FORMS_ACCESS_KEY=your_web3forms_access_key_here
